


.routed {
    border: 1px;

    position: relative;
    color: blue;
}

.App-header {

    background-color: #80a7f6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}



.headLink {
    display: inline-block;
    position: relative;
    left: 15%;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;

}

.linkStyle {
    text-decoration:underline;
    font-family: small-caps;
    font-size: 50px;
    margin: 2rem;
    color: #bef1ff;

}

.linkStyle.small {
    font-size: 30px;
    margin: 25rem;
}

