.gameBox{

    display: flex;
  justify-content: center;
}
.description{
  float: right;
    width: 75%;
    font-size: 1.2vw;
    margin-right: 1%;
}
.listOfGames div{
    color: black;
}
.title{
    position: relative;
    left: 10%;
    margin-bottom: 1%;
}
.listOfGames{
    padding: 0;
    margin: auto;
    width: 60%;
    list-style-type: none;
}
.listItem{
     background-color: rgba(230, 230, 250, 0.5);
    padding: 30px;
    margin-bottom: 20px;
    display: table;
    width: 90%;
    height: inherit;
}
.gamelinkStyle{
    text-decoration: none;
    font-family: small-caps;
    font-size: 2vw;
}
